/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 10%;
  background: #424242;
}

.header__logo {
  background: url(../images/BMICLogo.png);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 117px;
  height: 117px;
  display: block;
}

.header__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__height {
  font-size: 18px;
  color: #ffd366;
}

.header__inputHeight {
  margin: 10px 0;
  padding: 3px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #ffd366;
  border-radius: 10px;
}

.header__weight {
  font-size: 18px;
  color: #ffd366;
}

.header__inputWeight {
  margin: 10px 0;
  padding: 3px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #ffd366;
  border-radius: 10px;
}

.header__save {
  background: #ffd366;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  color: #424242;
  position: relative;
  cursor: pointer;
}

.header__save:hover {
  background: #ffd366;
  -webkit-box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
          box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

.header__save:active {
  background: #dea821;
}

@media (max-width: 768px) {
  .header {
    display: block;
  }
  .header__logo {
    margin: 5% auto;
  }
  .header__btn {
    padding: 3% 40%;
  }
}

.header__btn.saved .header__save:hover {
  background: #a7a6a5;
  -webkit-box-shadow: 0 1px 6px 3px rgba(156, 156, 156, 0.64);
          box-shadow: 0 1px 6px 3px rgba(156, 156, 156, 0.64);
}

.header__btn.saved .header__save:active {
  background: #4d4c4b;
}

.history {
  background: #f5f5f5;
  padding: 5% 5%;
}

.footer {
  width: 100%;
  background: #ffd366;
}

.footer__image {
  padding: 20px 0;
  margin: 0 auto;
  display: block;
}

.saved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.saved-blue {
  border: 6px solid #31baf9;
  background: transparent;
  color: #31baf9;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 32px;
  text-align: center;
  cursor: not-allowed;
}

.saved-blue:after {
  content: "BMI";
  display: block;
  font-size: 14px;
}

.saved-green {
  border: 6px solid #86d73f;
  background: transparent;
  color: #86d73f;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 32px;
  text-align: center;
  cursor: not-allowed;
}

.saved-green:after {
  content: "BMI";
  display: block;
  font-size: 14px;
}

.saved-orange {
  border: 6px solid #ff982d;
  background: transparent;
  color: #ff982d;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 32px;
  text-align: center;
  cursor: not-allowed;
}

.saved-orange:after {
  content: "BMI";
  display: block;
  font-size: 14px;
}

.saved-darkOrange {
  border: 6px solid #ff6c03;
  background: transparent;
  color: #ff6c03;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 32px;
  text-align: center;
  cursor: not-allowed;
}

.saved-darkOrange:after {
  content: "BMI";
  display: block;
  font-size: 14px;
}

.saved-red {
  border: 6px solid #ff1200;
  background: transparent;
  color: #ff1200;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 32px;
  text-align: center;
  cursor: not-allowed;
}

.saved-red:after {
  content: "BMI";
  display: block;
  font-size: 14px;
}

.savedResult-blue {
  color: #31baf9;
  font-size: 32px;
  margin-left: 10px;
}

.savedResult-green {
  color: #86d73f;
  font-size: 32px;
  margin-left: 10px;
}

.savedResult-orange {
  color: #ff982d;
  font-size: 32px;
  margin-left: 10px;
}

.savedResult-darkOrange {
  color: #ff6c03;
  font-size: 32px;
  margin-left: 10px;
}

.savedResult-red {
  color: #ff1200;
  font-size: 32px;
  margin-left: 10px;
}

.reloadBtn {
  position: absolute;
  background: white;
  width: 20px;
  height: 23px;
  border-radius: 50%;
  left: 50%;
  bottom: 10%;
  padding: 3px;
  border: 2px solid #424242;
}

.history__title {
  width: 100%;
  font-size: 24px;
  margin: 48px auto 36px;
  text-align: center;
}

.history__records li {
  width: 20%;
}

.history-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 5px solid #31baf9;
  background: white;
  padding: 10px;
  margin: 10px;
}

.history-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 5px solid #86d73f;
  background: white;
  padding: 10px;
  margin: 10px;
}

.history-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 5px solid #ff982d;
  background: white;
  padding: 10px;
  margin: 10px;
}

.history-darkorange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 5px solid #ff6c03;
  background: white;
  padding: 10px;
  margin: 10px;
}

.history-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 5px solid #ff1200;
  background: white;
  padding: 10px;
  margin: 10px;
}

.reload {
  color: #424242;
  border-radius: 50%;
  position: absolute;
  bottom: 3%;
  right: 0;
  font-size: 16px;
  padding: 3px;
  border: 2px solid #424242;
  cursor: pointer;
}

.bg-blue {
  background: #31baf9;
}

.bg-green {
  background: #86d73f;
}

.bg-orange {
  background: #ff982d;
}

.bg-darkorange {
  background: #ff6c03;
}

.bg-red {
  background: #ff1200;
}

.f-s {
  font-size: 12px;
  color: #424242;
}
/*# sourceMappingURL=styles.css.map */